Repository visfleet/js-spike: changes, and which Codecov flags are due for each by the changed paths.
All: vwork_react_app, vwork_rails

codecov.yml:

flags:
  vwork_react_app:
    paths:
      - vwork_react_app
  vwork_rails:
    paths:
      - vwork_rails

Remove serviceWorker
  vwork_react_app/src/index.js
  vwork_react_app/src/serviceWorker.js
Due: vwork_react_app

Remove unused gems uglifier/tzinfo
  vwork_rails/Gemfile
  vwork_rails/Gemfile.lock
  vwork_rails/config/environments/production.rb
Due: vwork_rails

Setup prod
  .dockerignore
  Dockerfile
  docker-compose.yml
  vwork_rails/.gitignore
  vwork_rails/Gemfile
  vwork_rails/Gemfile.lock
  vwork_rails/config/master.key
  vwork_rails/data/.keep
  vwork_rails/db/production.sqlite3
Due: vwork_rails

Configure ApolloClient
  vwork_rails/app/controllers/graphql_controller.rb
  vwork_react_app/package.json
  vwork_react_app/src/App.js
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/JobList.test.js
  vwork_react_app/src/controls/ViewPort.js
  vwork_react_app/src/hooks/useData.js
  vwork_react_app/src/hooks/useData.test.js
  vwork_react_app/src/services/apolloClient.js
  vwork_react_app/src/services/clientSchema.js
  vwork_react_app/src/setupProxy.js
  vwork_react_app/yarn.lock
Due: vwork_react_app, vwork_rails

Use db:reset for now
  docker-compose.yml
Due: none

Add typescript, though not using
  vwork_react_app/package.json
  vwork_react_app/yarn.lock
Due: vwork_react_app

seeds.rb: Add template_name
  vwork_rails/db/seeds.rb
Due: vwork_rails

Configure eslint-plugin-import
  vwork_react_app/.eslintrc.js
  vwork_react_app/package.json
  vwork_react_app/src/App.js
  vwork_react_app/src/components/JobList/JobList.test.js
  vwork_react_app/src/components/Routes/Routes.js
  vwork_react_app/src/hooks/useData.test.js
  vwork_react_app/src/index.js
  vwork_react_app/yarn.lock
Due: vwork_react_app

Remove migrate
  .dockerignore
  docker-compose.yml
  vwork_rails/bin/reset_and_server.sh
  vwork_rails/db/production.sqlite3
Due: vwork_rails

Put up scafoolding routes
  vwork_rails/app/graphql/types/query_type.rb
  vwork_rails/app/graphql/types/template_type.rb
  vwork_rails/app/models/template.rb
  vwork_rails/db/migrate/20191212224015_remove_state_from_templates.rb
  vwork_rails/db/schema.rb
  vwork_rails/db/seeds.rb
  vwork_react_app/.eslintrc.js
  vwork_react_app/.prettierrc
  vwork_react_app/package.json
  vwork_react_app/src/App.js
  vwork_react_app/src/Providers.js
  vwork_react_app/src/components/JobList/JobList.test.js
  vwork_react_app/src/components/Map/Map.js
  vwork_react_app/src/components/PageNotFound/PageNotFound.js
  vwork_react_app/src/components/Routes/Routes.js
  vwork_react_app/src/components/Schedule/Schedule.js
  vwork_react_app/src/components/Settings/General.js
  vwork_react_app/src/components/Settings/Settings.js
  vwork_react_app/src/components/Settings/Templates.js
  vwork_react_app/src/controls/AppTable.js
  vwork_react_app/src/controls/AppTable.test.js
  vwork_react_app/src/controls/TabsPage.js
  vwork_react_app/src/controls/ViewPort.js
  vwork_react_app/src/controls/ViewPort.test.js
  vwork_react_app/src/hooks/useData.js
  vwork_react_app/src/hooks/useData.test.js
  vwork_react_app/src/hooks/useParams.js
  vwork_react_app/src/index.js
  vwork_react_app/src/services/apolloClient.js
  vwork_react_app/src/setupProxy.js
  vwork_react_app/yarn.lock
Due: vwork_react_app, vwork_rails

Setup InitProvider
  vwork_react_app/src/Providers.js
  vwork_react_app/src/providers/InitProvider.js
  vwork_react_app/src/services/apolloClient.js
Due: vwork_react_app

Add Providers.test.js
  vwork_react_app/src/Providers.test.js
Due: vwork_react_app

Add Map.test.js
  vwork_react_app/src/components/Map/Map.test.js
Due: vwork_react_app

Add Settings.test.js + Templates.test.js
  vwork_react_app/src/components/Settings/Settings.test.js
  vwork_react_app/src/components/Settings/Templates.test.js
Due: vwork_react_app

ViewPort.test.js: increase coverage
  vwork_react_app/src/controls/ViewPort.test.js
Due: vwork_react_app

Add TabsPage.test
  vwork_react_app/src/controls/TabsPage.test.js
Due: vwork_react_app

Add useParams.test
  vwork_react_app/src/hooks/useParams.test.js
Due: vwork_react_app

useParams.test: cover more
  vwork_react_app/src/hooks/useParams.test.js
Due: vwork_react_app

Add README
  README.md
Due: none

Add test for empty components
  vwork_react_app/src/components/PageNotFound/PageNotFound.test.js
  vwork_react_app/src/components/Schedule/Schedule.test.js
  vwork_react_app/src/components/Settings/General.test.js
Due: vwork_react_app

InitProvider.test: move coverage
  vwork_react_app/src/providers/InitProvider.test.js
  vwork_react_app/src/services/sleep.js
Due: vwork_react_app

Add ApplicationLoader
  vwork_react_app/package.json
  vwork_react_app/src/loaders/ApplicationLoader.js
  vwork_react_app/src/loaders/ApplicationLoader.test.js
  vwork_react_app/src/providers/InitProvider.js
  vwork_react_app/yarn.lock
Due: vwork_react_app

Implement CustomerList
  vwork_rails/app/graphql/types/customer_type.rb
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/src/App.js
  vwork_react_app/src/components/Customers/CustomerList.js
  vwork_react_app/src/components/Customers/CustomerList.test.js
Due: vwork_react_app, vwork_rails

Add Asset model
  vwork_rails/app/controllers/graphql_controller.rb
  vwork_rails/app/graphql/types/asset_type.rb
  vwork_rails/app/graphql/types/query_type.rb
  vwork_rails/app/models/asset.rb
  vwork_rails/app/models/customer.rb
  vwork_rails/db/migrate/20191215221215_create_assets.rb
  vwork_rails/db/schema.rb
  vwork_rails/db/seeds.rb
Due: vwork_rails

Add jobs-assets association
  vwork_rails/Gemfile
  vwork_rails/Gemfile.lock
  vwork_rails/app/graphql/types/asset_type.rb
  vwork_rails/app/graphql/types/job_type.rb
  vwork_rails/app/models/asset.rb
  vwork_rails/app/models/job.rb
  vwork_rails/app/models/job_asset.rb
  vwork_rails/db/migrate/20191215231819_create_job_assets.rb
  vwork_rails/db/schema.rb
  vwork_rails/db/seeds.rb
Due: vwork_rails

Implement DevSettings to adjust apiRequestDelay
  vwork_react_app/package.json
  vwork_react_app/src/App.js
  vwork_react_app/src/DevSettings.js
  vwork_react_app/src/hooks/useAction.js
  vwork_react_app/src/providers/InitProvider.js
  vwork_react_app/src/services/apolloClient.js
  vwork_react_app/src/services/clientSchema.js
  vwork_react_app/yarn.lock
Due: vwork_react_app
