Repository visfleet/js-spike: changes, and which Codecov flags are due for each by the changed paths.
All: vwork_react_app, vwork_rails

codecov.yml:

flags:
  vwork_react_app:
    paths:
      - vwork_react_app
  vwork_rails:
    paths:
      - vwork_rails

Fluid ViewPort
  vwork_react_app/src/controls/ViewPort.js
Due: vwork_react_app

Use sqlite3 in dev
  vwork_rails/Gemfile
  vwork_rails/Gemfile.lock
  vwork_rails/config/database.yml
Due: vwork_rails

Implement Setting
  vwork_rails/app/graphql/mutations/base_mutation.rb
  vwork_rails/app/graphql/mutations/update_setting.rb
  vwork_rails/app/graphql/types/base_argument.rb
  vwork_rails/app/graphql/types/mutation_type.rb
  vwork_rails/app/graphql/types/query_type.rb
  vwork_rails/app/graphql/types/setting_type.rb
  vwork_rails/app/models/setting.rb
  vwork_rails/db/migrate/20200107203933_create_settings.rb
  vwork_rails/db/schema.rb
  vwork_react_app/.babelrc.js
  vwork_react_app/.eslintrc.js
  vwork_react_app/config-overrides.js
  vwork_react_app/package.json
  vwork_react_app/src/App.js
  vwork_react_app/src/App.test.js
  vwork_react_app/src/Providers.js
  vwork_react_app/src/components/Settings/General.js
  vwork_react_app/src/components/Settings/General.test.js
  vwork_react_app/src/controls/ViewPort.js
  vwork_react_app/src/hooks/useAction.js
  vwork_react_app/yarn.lock
Due: vwork_react_app, vwork_rails

Implement customizable columns
  vwork_rails/app/graphql/mutations/update_setting.rb
  vwork_rails/app/graphql/types/setting_type.rb
  vwork_rails/app/models/setting.rb
  vwork_react_app/package.json
  vwork_react_app/src/components/JobList/CustomizeDialog.js
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/JobList.test.js
  vwork_react_app/src/components/JobList/ValueCell.js
  vwork_react_app/src/components/JobList/allColumns.js
  vwork_react_app/src/components/Settings/General.test.js
  vwork_react_app/src/controls/Dialog.js
  vwork_react_app/src/hooks/useAction.js
  vwork_react_app/src/loaders/LabelLoader.js
  vwork_react_app/yarn.lock
Due: vwork_react_app, vwork_rails

Job#fake: randomize state
  vwork_rails/app/models/job.rb
Due: vwork_rails

Implement useRouteState to replace useState
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/JobList.test.js
  vwork_react_app/src/components/JobList/useFilters.js
  vwork_react_app/src/hooks/useRouteState.js
  vwork_react_app/src/services/apolloClient.js
Due: vwork_react_app

Implement options and datepicker filters
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/package.json
  vwork_react_app/src/components/JobList/AddFilterDialog.js
  vwork_react_app/src/components/JobList/Filters.js
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/useFilters.js
  vwork_react_app/src/hooks/useParams.js
  vwork_react_app/yarn.lock
Due: vwork_react_app, vwork_rails

Add Status filter
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/src/components/JobList/useFilters.js
Due: vwork_react_app, vwork_rails

Implement jobs filtering
  vwork_rails/app/graphql/types/jobs_filter_type.rb
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/useFilters.js
Due: vwork_react_app, vwork_rails

Extract useColumns: make columns respect settings
  vwork_react_app/src/components/JobList/CustomizeDialog.js
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/allColumns.js
  vwork_react_app/src/components/JobList/useColumns.js
Due: vwork_react_app

useFilters: add customers filter
  vwork_react_app/src/components/JobList/useFilters.js
Due: vwork_react_app

useFilters: reject setting
  vwork_react_app/src/components/JobList/useFilters.js
Due: vwork_react_app

Add assets filter
  vwork_rails/app/graphql/types/jobs_filter_type.rb
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/src/components/JobList/useFilters.js
Due: vwork_react_app, vwork_rails

Replace babel-root-import with babel-module
  vwork_react_app/.babelrc.js
  vwork_react_app/.eslintrc.js
  vwork_react_app/package.json
  vwork_react_app/src/App.js
  vwork_react_app/src/components/Assets/AssetList.js
  vwork_react_app/src/components/Customers/CustomerList.js
  vwork_react_app/src/components/Customers/CustomerList.test.js
  vwork_react_app/src/components/JobList/AddFilterDialog.js
  vwork_react_app/src/components/JobList/CustomizeDialog.js
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/JobList.test.js
  vwork_react_app/src/components/JobList/ValueCell.js
  vwork_react_app/src/components/JobList/useColumns.js
  vwork_react_app/src/components/JobList/useFilters.js
  vwork_react_app/src/components/Settings/General.js
  vwork_react_app/src/components/Settings/General.test.js
  vwork_react_app/src/components/Settings/Settings.js
  vwork_react_app/src/components/Settings/Templates.js
  vwork_react_app/src/components/Settings/Templates.test.js
  vwork_react_app/src/controls/TabsPage.js
  vwork_react_app/src/controls/TabsPage.test.js
  vwork_react_app/src/providers/InitProvider.js
  vwork_react_app/src/providers/InitProvider.test.js
  vwork_react_app/src/services/apolloClient.js
  vwork_react_app/yarn.lock
Due: vwork_react_app

Add graphql-errors
  vwork_rails/Gemfile
  vwork_rails/Gemfile.lock
  vwork_rails/app/graphql/vwork_rails_schema.rb
Due: vwork_rails

AddFilterDialog.test.js
  vwork_react_app/src/components/JobList/AddFilterDialog.test.js
Due: vwork_react_app

InitProvider: use mount, don't mock react
  vwork_react_app/src/providers/InitProvider.test.js
Due: vwork_react_app

CustomizeDialog.test.js
  vwork_react_app/src/components/JobList/CustomizeDialog.test.js
Due: vwork_react_app

Use fragment in JobList cell
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/ValueCell.js
  vwork_react_app/src/components/JobList/useColumns.js
Due: vwork_react_app

Revert "Use fragment in JobList cell"
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/ValueCell.js
  vwork_react_app/src/components/JobList/useColumns.js
Due: vwork_react_app

Use react-hook-form
  vwork_react_app/package.json
  vwork_react_app/src/components/Settings/General.js
  vwork_react_app/yarn.lock
Due: vwork_react_app

Testing react-hook-form
  vwork_react_app/package.json
  vwork_react_app/src/components/Settings/General.js
  vwork_react_app/src/components/Settings/General.test.js
  vwork_react_app/src/setupTests.js
  vwork_react_app/src/testHelpers.js
  vwork_react_app/yarn.lock
Due: vwork_react_app

Reset dirty and reset feature, out of scope
  vwork_react_app/.eslintrc.js
  vwork_react_app/src/components/Settings/General.js
Due: vwork_react_app

Add useColumns.test
  vwork_react_app/src/components/JobList/useColumns.test.js
Due: vwork_react_app
