Repository visfleet/js-spike: changes, and which Codecov flags are due for each by the changed paths.
All: vwork_react_app, vwork_rails

Add AssetList
  vwork_react_app/src/App.js
  vwork_react_app/src/components/Assets/AssetList.js
Due: vwork_react_app

Implement DevSettings to adjust apiRequestDelay
  vwork_react_app/package.json
  vwork_react_app/src/App.js
  vwork_react_app/src/DevSettings.js
  vwork_react_app/src/hooks/useAction.js
  vwork_react_app/src/providers/InitProvider.js
  vwork_react_app/src/services/apolloClient.js
  vwork_react_app/src/services/clientSchema.js
  vwork_react_app/yarn.lock
Due: vwork_react_app

AppTable: implement rows content loader
  vwork_react_app/src/components/Customers/CustomerList.js
  vwork_react_app/src/components/Settings/Templates.js
  vwork_react_app/src/controls/AppTable.js
Due: vwork_react_app

DevSettings: fixed postion
  vwork_react_app/src/DevSettings.js
Due: vwork_react_app

AppTable: add test case rendering without rows
  vwork_react_app/src/controls/AppTable.test.js
Due: vwork_react_app

seeds: 1000x times seeds
  vwork_rails/db/seeds.rb
Due: vwork_rails

query_type: add assets_connection
  vwork_rails/app/graphql/types/query_type.rb
  vwork_rails/db/seeds.rb
Due: vwork_rails

paged_field: implement custom arguments
  vwork_rails/app/graphql/types/base_object.rb
  vwork_rails/app/graphql/types/query_type.rb
Due: vwork_rails

CustomerList: implement pagination
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/src/components/Customers/CustomerList.js
  vwork_react_app/src/components/Customers/CustomerList.test.js
Due: vwork_react_app, vwork_rails

DevSettings: add reset cache button
  vwork_react_app/src/DevSettings.js
Due: vwork_react_app

AssetList: implement search
  vwork_react_app/src/components/Assets/AssetList.js
Due: vwork_react_app

Implement AssetList
  vwork_react_app/src/components/Assets/AssetList.js
Due: vwork_react_app

BaseObject: implement paged_field
  vwork_rails/app/graphql/types/base_object.rb
  vwork_rails/app/graphql/types/query_type.rb
Due: vwork_rails

AssetList: implement pagination
  vwork_rails/app/graphql/types/base_object.rb
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/package.json
  vwork_react_app/src/Providers.js
  vwork_react_app/src/components/Assets/AssetList.js
  vwork_react_app/src/controls/Paginator.js
  vwork_react_app/yarn.lock
Due: vwork_react_app, vwork_rails

Rubocop fix
  vwork_rails/db/migrate/20191212224015_remove_state_from_templates.rb
Due: vwork_rails

More realistic seeds
  vwork_rails/db/seeds.rb
Due: vwork_rails

Use postgres
  docker-compose.yml
  vwork_rails/Gemfile
  vwork_rails/Gemfile.lock
  vwork_rails/config/database.yml
Due: vwork_rails

Fix links
  docker-compose.yml
Due: none

JobList: enable pagination
  vwork_rails/app/graphql/types/query_type.rb
  vwork_react_app/src/components/JobList/JobList.js
  vwork_react_app/src/components/JobList/JobList.test.js
Due: vwork_react_app, vwork_rails

AssetList: fix table header
  vwork_react_app/src/components/Assets/AssetList.js
Due: vwork_react_app

Fake on the fly
  docker-compose.yml
  vwork_rails/app/models/job.rb
  vwork_rails/bin/reset_and_fake.sh
  vwork_rails/db/seeds.rb
  vwork_rails/lib/tasks/fake.rake
Due: vwork_rails

Faster seeds haha
  vwork_rails/lib/tasks/fake.rake
Due: vwork_rails

Order by date
  vwork_rails/app/graphql/types/query_type.rb
Due: vwork_rails

asset search ILIKE
  vwork_rails/app/graphql/types/query_type.rb
Due: vwork_rails

Path conditions:
  vwork_react_app: any of: vwork_react_app
  vwork_rails: any of: vwork_rails
